.chatbot{
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;
    border: solid 5px black;
    border-radius: 20px;
    margin-top: 5%;
    height: 150%;
    max-width: 60%;
}
.chatbotTop{
    margin: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.chatbotName{
    font-size: 50px;
    align-items: center;
    font-weight: bold;
    font-style:italic;
    margin: 0 auto;
}
.chatbotDetail{
    align-self: center;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.chatbotCard{
    position: relative;
}
.chatbotImg{
    width: 400px;
    height: 350px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}
.chatbotTrialIcon{
    width: 32px !important;
    height: 32px !important;
}

.chatbotDescIntro{
    margin-top: 20px;
    border-radius: 20px;
    height: 100px;
    width: 100%;   
    background-color: rgb(191, 191, 191);
    display: flex;
    align-items: flex-start;

}
.In{
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font: italic;
    font-weight: 600;
}
.chatbotDescIcon{
    margin-top: 10px;
    margin-left: 5px;
    align-items: center;
}
.chatbotProducer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 0px;
}
.chatbotProfileImg{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
}
.chatbotCreator{
    font-size: 20px;
    font-weight: bold;
}
.chatbotUsername{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font: italic;
}