.App{
    background: lavender;
    margin: 0;
    padding: 0;
}
.loader{
    font-size: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: auto;
    background-color: rgba(179, 179, 179, 0.644);
}
.loading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}