.trendbar{
    flex: 3.5
}
.trendTitle{
  font-size: larger;

}
.trendTop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}
.trendIcon{
    color: rgba(255, 0, 0, 0.678);
}
.trendComponent{
    margin: 10px;
}
