.rankerRanking{
   font-size: 30px;
   font-weight: bolder;
   font-style: oblique;
}

.rankerWrapper {
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6e6eff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    min-width: 50%;
    min-height: 10%;
    padding: 10px 25px;
    color: #000000;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.rankerWrapper:hover {
    background: #74b9ff;
}
.hashtag{
    font-size: 30px;

}
.rankerName{
    display: flex;
    flex-direction: row;
}
.rankerTitle{
    font-size: 30px;
}